@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    list-style: none;
    text-decoration: none;
}

#body1{
    background: url(imagens/bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    
    
}


header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 48px;
}

header .logoprime{
    width: 150px;

}

.navigation ul{
    display: flex;
    align-items: center;
    gap: 40px;

}

.navigation ul li a{
    color: #fff;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    transition: all .6s;
    letter-spacing: 1px;
}

.navigation ul li a:hover{
    color: #FEDC1A;
    border-bottom: 2px solid #138ecc;

}

.navigation .busca{
    width: 22px;
    cursor: pointer;
    filter: invert(1);

}

/* main index */

.main1{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 50em;
    margin-top: 1.5em;

}

.main1 section{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2.5em;
}

.main1 section .logoboys{
width: 28em;
margin: 1em 0;

}

.main1 section .buttonbox{
    display: flex;
    align-items: center;
    gap: 20px;
}

.buttonbox .btn1{
    padding: 20px 45px;
    background-color: #425265;
    color: #fff;
    margin-bottom: 2em;
    border-bottom: 2px solid #fff;
    transition: all .3s;
}

.buttonbox .btn1:hover{
    background: #0f79af;

}

.buttonbox .btn1:focus{
    background: #0f79af;
}

main section .texto1{
    color: #fff;
    line-height: 22px;
}

.texto1{
    text-indent: 50px;
    text-align: justify;
}

.buttonbox2{
    display: flex;
    align-items: center;
    color: #fff;
    background: #0f79af;
    padding: 10px 45px;
    margin: 9px 30px;
    border-radius: 5px 5px 0 0;
    border-bottom: 4px solid #fff;
    font-size: 25px;
    gap: 15px;
    cursor: pointer;
    transition: all .3s;

}

.buttonbox2:hover{
    background: #138ecc;

}

.buttonbox2 .play{
    width: 1.4em;
    filter: invert(1);
}
footer{
    color: #fff;
}

/* Fim Index */

/* Personagens.html */

.header2{
    background: url(imagens/os7.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    padding: 25px 48px 545px 25px;
    border-bottom: 4px solid red;
    
}

.theboyslogo2{
    background-color: black;
    border-bottom: 4px solid red;
    
}

.theboyslogo2 img{
    display: block;
    margin: 0 auto;
     
}

.conteudo2{
    display: grid;
   grid-template-columns: 1fr 1fr;
   background: linear-gradient( to left,  #000000 0%,  #847e7edb 85%);
   border-bottom: 2px solid black;
    
}

.conteudo2 img{
    width: 450px;
    height: 350px;
}

.conteudo2 h2{
    text-align: center;
    color: #FEDC1A;
    font-size: 2em;
    letter-spacing: 3px;
}

.textobox2{
    margin-top: 30px;
}

.texto2{
    text-indent: 50px;
    text-align: justify;
    color: #fff;
    padding-left: 30px;
    line-height: 2;
    letter-spacing: 1px;
    
}

.personagens1{
    display: block;
    margin: 20px auto;
}

.personagens1 img{
    border: 3px solid black;
}

.thesevenlogo{
    background-color: black;
    border-top: 4px solid #3B6B7C ;
    border-bottom: 4px solid #3B6B7C;
}


.thesevenlogo img{
    display: block;
    margin: 0 auto;
     
}

.conteudo3{
    display: grid;
   grid-template-columns: 1fr 1fr;
   background: linear-gradient( to left,  #000000 0%,  #3B6B7C 50%);
   border-bottom: 2px solid black;
    
}

.conteudo3 img{
    width: 350px;
    height: 350px;
}

.conteudo3 h2{
    text-align: center;
    color: #fff;
    font-size: 2em;
    letter-spacing: 3px;
}

/* fim personagens.html */


/* Extras.html */

.body3{
    background: url(imagens/the-boys-season-2-homelander-4k-52.jpg);

    background-repeat: no-repeat;

    background-size: cover;

    background-blend-mode: overlay;
    background-color: rgb(0, 0, 0,0.5);
}

.videocontainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 120px 10px;
    gap: 15px;
   
}



